@import '../../styles/constants';

.socialWrapper {
  width: 155px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 130px;

  @media screen and (max-width: $screen_tablet) {
    margin-top: 226px;
  }

  @media screen and (max-width: $screen_mobile) {
    margin-top: 100px;
    padding-bottom: 40px;
  }

  @media screen and (max-width: 320px) {
    margin-top: 50px;
  }

  a:hover {
    path {
      fill: $text_dark_purple;
    }
  }
}

.hiddenWrapper {
  visibility: hidden;
}

.animatedWrapper {
  animation-name: socialMove;
  animation-duration: 0.65s;
  position: relative;
  visibility: visible;

  @keyframes socialMove {
    from {
      bottom: -70px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
}

.verticalSocialWrapper {
  position: fixed;
  top: 55%;
  left: calc((100% - 1140px) / 2);
  width: 20px;
  height: 155px;
  flex-direction: column;
  margin-top: 0;

  @media screen and (max-width: 1140px) {
    left: 20px;
  }

  @media screen and (max-width: $screen_tablet) {
    display: none;
  }
}

.icon {
  max-height: 30px;
  max-width: 30px;
  width: 100%;
  height: auto;
  @media (max-width: $screen_tablet_max) {
    margin: 0 auto;
  }
  @media (max-width: $screen_mobile_max) {
    height: auto;
  }
}
