$text_purple: #484269;
$text_dark_purple: #1a1344;
$text_grey: #909090;
$text_dark_grey: #393939;
$title: #606060;
$white: #ffffff;
$silver: #e0e0e0;
$focus: #363636;
$error: #ff7171;
$errorBtn: #ff5151;
$errorBtnActive: #ff3838;
$info: #0085ff;
$success: #00ce2d;
$successActive: #00bc29;

$border_gradient: linear-gradient(180deg, #7be7ff 0%, #b04ca8 100%);

$screen_middle: 1024px;
$screen_tablet_max: 1023px;
$screen_tablet: 768px;
$screen_mobile_max: 767px;
$screen_mobile: 500px;

$fz_xs: 0.75rem;
$fz_small: 0.875rem;
$fz_normal: 1rem;
$fz_middle: 1.125rem;
$fz_large: 1.5rem;

$ff_regular: 'MPlusRounded1C-Regular';
$ff_medium: 'MPlusRounded1C-Medium';
$ff_light: 'MPlusRounded1C-Light';
