@import '../../../styles/index.scss';

.separateServicesListContainer {
  margin-top: 200px;
  @media only screen and (max-width: $screen_mobile) {
    margin-top: 100px;
  }
}
.separateServicesList {
  li {
    height: 50px;
    background: url('../../../assets/icons/unordered-list-bullet-icon.png') no-repeat 0px 0px;
    margin: 0;
    padding: 5px;
    padding-left: 45px;
  }
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  @media only screen and (max-width: $screen_tablet) {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    padding-left: 11%;
  }
  @media only screen and (max-width: $screen_mobile) {
    padding: 0px 20px;
  }
}
.separateListTitle {
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 55px;
  color: $text_dark_purple;
  @media only screen and (max-width: $screen_tablet) {
    padding: 0px 90px;
  }
  @media only screen and (max-width: $screen_mobile) {
    padding: 0px 20px;
    font-size: 18px;
  }
}
.separateServiceContainer {
  padding: 20px;
}
.separateServiceTitle {
  color: $text_grey;
  margin-bottom: 20px;
  @media only screen and (max-width: $screen_tablet) {
    max-width: 360px;
  }
  @media only screen and (max-width: $screen_mobile) {
    color: $text_dark_grey;
    font-size: 14px;
  }
}
