@import '../../styles/constants';

.adminContainer {
  display: flex;
  min-height: calc(100vh - 80px);
}

.adminContent {
  padding: 20px 100px;
  width: 100%;
  padding-top: 180px;
  padding-left: 267px;

  @media screen and (max-width: $screen_mobile) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
  }
}

.adminBar {
  background: #faf4ff;
  width: 217px;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 80px;
  overflow: scroll;

  @media screen and (max-width: $screen_mobile) {
    display: none;
  }
}
